
<html>

<head>
<style>
table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
}
</style>
</head>


<p id="notice"><%= notice %></p>

<h1>Listing Moods</h1>

<table id="t01" border=2 style="width:100%">
  <thead>
    <tr>
	<th>Mood ID </th>
      <th>Moodname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moods.each do |mood| %>
      <tr>
        <td><%= mood.id %></td>
        <td><%= mood.moodname %></td>
        <td><%= link_to 'Show', mood %></td>
        <td><%= link_to 'Edit', edit_mood_path(mood) %></td>
        <td><%= link_to 'Destroy', mood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mood', new_mood_path %>
