
<html>
<head>
<%=stylesheet_link_tag 'me.css' %>
<% @songs.each do |song| %>
<% Rater.create(song_id: song.id , user_id: current_user.id, count: 0, mood_id: song.mood_id, search: 0) %>
<% end %>
</head>
<table>
 <thead>
    <tr>
	<th> Rater Id </th>
	<th>Song Name </th>	
	<th>Mood</th>
	<th> Times Listened To: </th>
	<th> Times Searched For: </th>
	<th colspan=2> </th>
    </tr>
  </thead>

  <tbody>
<%@rater=Rater.where(user_id: current_user.id); %>
     <% @rater.each do |rater| %>
      <tr>
	<td><%= rater.id %></td>
       <td><%= rater.song.name %></td>
        <td><%= rater.mood.moodname %></td>
        <td><%= rater.count %></td>
	<td><%= rater.search %></td> 
	 <td><%= link_to 'Show', rater %></td>
        <td><%= link_to 'Edit', edit_rater_path(rater) %></td>   
 </tr>
    <% end %>
  </tbody>
</table>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</html>
