<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rater.song.id %>
</p>

<p>
  <strong>User:</strong>
  <%= @rater.user.email %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @rater.mood_id %>
</p>

<%= link_to 'Edit', edit_rater_path(@rater) %> |
<%= link_to 'Back', raters_path %>
