<p id="notice"><%= notice %></p>

<p>
  <strong>Artistname:</strong>
  <%= @artist.artistname %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> | <%= link_to 'New Artist', new_artist_path %> |
<%= link_to 'Home', artists_path %>
