
<%=stylesheet_link_tag 'css/styles.css' %>

	<%=stylesheet_link_tag 'stars.css' %>
	<%#stylesheet_link_tag 'me.css' %>
	<%=javascript_include_tag 'js/jquery-1.7.2.min.js' ,'js/jquery-ui-1.8.21.custom.min.js','js/man.js' %>
	<%=javascript_include_tag 'sorttable.js'%>


<table class="sortable" id="t01" border=2 style="width:100%">


  <thead>
    <tr>
      <th>Name</th>
      <th>Mood</th>
    </tr>
  </thead>

  <tbody>

   <% @populars.each do |popular|%>

      <tr>
        <td><%= popular.count %></td>
        <td><%= popular.song_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>
