<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<%= javascript_include_tag 'jquery-1.6.1.min.js','jquery.jplayer.js','ttw-music-player-min.js','myplaylist.js' %>
     <script type="text/javascript">
        $(document).ready(function(){
            var description = 'all songs playlist';

            $('body').ttwMusicPlayer(myPlaylist, {
                autoPlay:false, 
                description:description,
                jPlayer:{
                    swfPath:'../plugin/jquery-jplayer' //You need to override the default swf path any time the directory structure changes
                }
            });
        });
    </script>
</head>
<body>

<div id="title"></div>
<a href="http://www.codebasehero.com/download?file=music-player" id="download">Download Here</a>
</body>

<br><br>

<p id="notice"><%= notice %></p>

<h1>ALL SONGS!</h1>

<table id="t01" border=2 style="width:100%">


  <thead>
    <tr>
      <th>Name</th>
      <th>Mood</th>
      <th>Artist</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.mood.moodname %></td>
        <td><%= song.artist.artistname %></td>
	<td><audio controls="controls" id="player" src="<%=song.audio.url%>"></audio></td>
     </tr>
    <% end %>
  </tbody>
</table>
<br><br><br><br>

</html>

