

<head>
<%=stylesheet_link_tag 'css/styles.css' %>
	<%=javascript_include_tag 'js/jquery-1.7.2.min.js' ,'js/jquery-ui-1.8.21.custom.min.js','js/man.js' %>
<style>
/*table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 100%;    
    background-color: #f1f1c1;
}*/
</style>
</head>

<body>
 <div class="example">

        <div class="player">
            <div class="pl"></div>
            <div class="title"></div>
            <div class="artist"></div>
	    <div class="mood"></div>
            <div class="cover"></div>
            <div class="controls">
                <div class="play"></div>
                <div class="pause"></div>
                <div class="rew"></div>
                <div class="fwd"></div>
            </div>
            <div class="volume"></div>
            <div class="tracker"></div>
        </div>

   


        <ul class="playlist">
	  <% @songs.each do |song| %>
            <li audiourl="<%=song.audio.url%>" cover="cover2.jpg" artist="<%=song.artist.artistname%>" mood="<%=song.mood.moodname%>" ><%=song.name%> </li>
	  <% end %>        
	</ul>

    </div>
</body>


<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>

<table class="table table-hover" id="t01" border=2 style="width:100%">


  <thead>
    <tr>
      <th>Name</th>
      <th>Mood</th>
      <th>Artist</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.mood.moodname %></td>
        <td><%= song.artist.artistname %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
