<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @song.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @song.mood.moodname %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist.artistname %>
</p>

<pre>
<%=@text%>

</pre>
<%= @song.audio_file_name %>
<a href='<%= @song.audio.url %>'>Song</a>|

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %> |  <%= link_to 'New Song', new_song_path %>
