<p id="notice"><%= notice %></p>


<h1>Listing Playlists</h1>
<p> Click here to download the MP3 Player for Offline Purposes! :) </p>
<a href="<%= image_path("OfflinePurpleBlues.zip")%>" download>Offline Purple Blues</a>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mood</th>
      <th>User</th>
	<th>ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<% @playlist=Playlist.where(user_id: current_user.id); %>
    <% @playlist.each do |playlist| %>
      <tr>
        <td><%= playlist.name %></td>
        <td><%= playlist.mood.moodname if playlist.mood%></td>
        <td><%= playlist.user.name if playlist.user%></td>
<td><%= playlist.id %></td>
        <td><%= link_to 'Show', playlist %></td>
        <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
        <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<table class="sortable" id="t01" border=2 style="width:100%">

<br><br>

  <thead>
    <tr>
      <th>Name</th>
      <th>Mood</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>

   <% @raters.each do |ra| %>

      <tr>
        <td><%= ra.song.name %></td>
        <td><%= ra.mood.moodname %></td>
        <td><%= link_to 'Play', ra %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playlist', new_playlist_path %>
