<head>
    <!-- add styles and scripts -->
  <%=stylesheet_link_tag 'css/styles.css' %>

	<%=stylesheet_link_tag 'stars.css' %>
	<%=stylesheet_link_tag 'me.css' %>
	<%=javascript_include_tag 'js/jquery-1.7.2.min.js' ,'js/jquery-ui-1.8.21.custom.min.js','js/man.js' %>
	<%=javascript_include_tag 'sorttable.js'%>

</head>

<script>
function Rateme(number)
{
$.ajax('/raters/up/'+number,{type: 'GET'});
}
function Rateme1(number)
{
$.ajax('/raters/upp/'+number,{type: 'GET'});
}
function Rateme2(number)
{
$.ajax('/raters/uppp/'+number,{type: 'GET'});
}
</script>
<h1> PLAYLIST DETAILS</h1>
<p id="notice"><%= notice %></p>
<div class="blockblack1">
  <p>
    <strong>Name:</strong>
    <%= @playlist.name.titleize %>
  </p>

  <p>
    <strong>Mood:</strong>
    <%= @playlist.mood.moodname.titleize %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @playlist.user.email.titleize %>
  </p>

</div>
<br><h1> GENERATED PLAYLIST</h1>

<div class="blockblack">
    <div class="example">
        <div class="player">
            <div class="pl"></div>
            <div class="title"></div>
            <div class="artist"></div>
	    <div class="mood"></div>
            <div class="cover"></div>
            <div class="controls">
                <div class="play"></div>
                <div class="pause"></div>
                <div class="rew"></div>
                <div class="fwd"></div>
            </div>
            <div class="volume"></div>
            <div class="tracker"></div>
        </div>

 
        <ul class="playlist">

	  <% @rec.each do |ra|%>
            <li audiourl="<%=ra.song.audio.url%>" artist="<%=ra.song.artist.artistname%>" mood="<%=ra.mood.moodname%>" songid="<%=ra.id%>"  ><%=ra.song.name%> </li>
	  <% end %>        
	</ul>

    </div>

<%= link_to '★' ,raters_path%> 
<h1>Listing Songs generated in PLAYLIST</h1>
<table class="table table-hover">
 <thead>
    <tr>
      <th>Name</th>
      <th>Mood</th>
      <th>Artist</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
<%i=0%>
   <% @rec.each do |ra| %>
<%i=i+1%>
      <tr>
        <td><%= ra.song.name %></td>
        <td><%= ra.mood.moodname %></td>
        <td><%= ra.song.artist.artistname %></td>
        <td><a href="<%=ra.song.audio.url(:original, false)%>" download>Download</a></td>
 <td><span class="rating" id="<%= i %>">
        
        <input type="radio" onclick="Rateme2(<%=ra.song.id%>)" class="rating-input"
                id="rating-input-<%= i%>-3" name="rating-input-<%= i%>"/>
        <label for="rating-input-<%= i%>-3" class="rating-star"></label>
<%i=i+1%>       
 <input type="radio" onclick="Rateme(<%=ra.song.id%>)" class="rating-input"
                id="rating-input-<%= i%>-2" name="rating-input-<%= i%>"/>
        <label for="rating-input-<%= i%>-2" class="rating-star"></label>
<%i=i+1%>
        <input type="radio" onclick="Rateme1(<%=ra.song.id%>)" class="rating-input"
                id="rating-input-<%= i%>-1" name="rating-input-<%= i%>"/>
        <label for="rating-input-<%= i%>-1" class="rating-star"></label>

</span></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
</div>
